<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Animes DOM</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
    <body background='/static/img/fundaum.gif'>

        {% include 'header.html' %}

        <div class="blocoTitle">
            <h2>
                CATÁLOGO DE ANIMES
            </h2>
        </div>
        <div class="bloco">

            {% for registro in registros %}
                <div class="apresentacao">

                    <h3>{{ registro['nome'] }}</h3>

                    <a href="/read/{{ registro['id'] }}">
                    <img src="{{ registro['imagem_url'] }}" alt="{{ registro['nome'] }}" width="200" height="250" />
                    </a>

                </div>
            {% endfor %}
        </div>
    </body> 
</html>